.product{
    border: 2px solid goldenrod;
    border-radius: 8px;
    width: 300px;
    height: 510px;
    position: relative;
}
.product img{
    width: 250px;
    height: 300px;
    border-radius: 10px;
    margin: 10px;
}
.btn-card{
    width: 100%;
    background: #FFE0B3;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-card .btn-text{
    margin-right: 5px;
}
.btn-card:hover{
    background-color: orange;
}